<script type="text/javascript">
 window.onload = function() {
  var testDataNew = [
  {times: [{"starting_time": new Date(2008, 8, 1, 0, 0, 0, 0),
  "ending_time": new Date(2012, 8, 1, 0, 0, 0, 0), "label":"<tspan font-weight = \"bold\"> 08/2008-08/2012 </tspan>: JNTUH, B.Tech Computer Science", "color": "#f6841f"}]},
  {times: [{"starting_time": new Date(2012, 9, 1, 0, 0, 0, 0),
  "ending_time" : new Date(2016, 8, 15, 0, 0, 0, 0), "label":"<tspan font-weight = \"bold\">2012-2016 Summer </tspan>: Java/ Big Data Engineer, CTS", "color": "#4efc19"}]},
  {times: [{"starting_time": new Date(2017, 11, 1, 0, 0, 0, 0),
  "ending_time": new Date(2016, 8, 1, 0, 0, 0, 0), "label":"<tspan font-weight = \"bold\"> 08/2016-05/2018</tspan>: University of Oklahoma, Masters: Data Science", "color": "#fcd712"}]},
  {times: [{"starting_time": new Date(2016, 8, 1, 0, 0, 0, 0),
  "ending_time": new Date(2018, 5, 30, 0, 0, 0, 0), "label":"<tspan font-weight = \"bold\"> 2016-2018 Summer</tspan>: Data Science Graduate Research Assistant,  OU analytics lab","color": "#4efc19"}]},
  {times: [{"starting_time": new Date(2017, 10, 1, 0, 0, 0, 0),
  "ending_time": new Date(2018, 5, 30, 0, 0, 0, 0), "label":"<tspan font-weight = \"bold\"> 2017-May 2018</tspan>: Data Scientist Intern, Accenture", "color": "#4efc19"}]},
  ];
  var width = $('#carousel-header').width();
  var chartWidth = Math.min(1500, Math.max(1000, width));
  $('#names').css("padding-left", (width - 900) /2)
  var chart = d3.timeline().stack().width(chartWidth)
  .margin({left: 0, right: 450, top: 0, bottom: 0})
  .textColor("#999")
  .barOpacity(.5)
  .itemHeight(15)
        .tickFormat( //
                    {format: d3.time.format("%Y"),
                    tickTime: d3.time.years,
                    tickInterval: 1,
                    tickSize: 10})
        .scroll(function (x, scale) {
          $("#scrolled_date").text(scale.invert(x) + " to " + scale.invert(x+width));
        });

        var svg = d3.select("#timeline").append("svg").attr("width", width)
        .datum(testDataNew).call(chart);
      }
    </script>
    <script type="text/javascript">
      function timeline(){
        var height = 350;
        var growDiv=document.getElementById('timeline');
        if(growDiv.clientHeight){growDiv.style.height=0;}
        else{
          var wrapper=document.getElementById('life');
          growDiv.style.height= height +"px";
        }
        document.getElementById("timeline-toggle").innerHTML=document.getElementById("timeline-toggle").innerHTML=="Show timeline ➟"?"Hide timeline":"Show timeline ➟";}
      </script> 
<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div id="timeline">
   <svg width="1903" height="290">
      <g>
         <g class="axis" transform="translate(0,0)" fill="#999">
            <g class="tick" transform="translate(25.60071080893147,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2008</text>
            </g>
            <g class="tick" transform="translate(127.12276906435912,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2009</text>
            </g>
            <g class="tick" transform="translate(228.9229699451441,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2010</text>
            </g>
            <g class="tick" transform="translate(330.44502820057176,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2011</text>
            </g>
            <g class="tick" transform="translate(431.96708645599944,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2012</text>
            </g>
            <g class="tick" transform="translate(533.4891447114271,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2013</text>
            </g>
            <g class="tick" transform="translate(635.2893455922122,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2014</text>
            </g>
            <g class="tick" transform="translate(736.8114038476397,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2015</text>
            </g>
            <g class="tick" transform="translate(838.3334621030674,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2016</text>
            </g>
            <g class="tick" transform="translate(939.855520358495,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2017</text>
            </g>
            <g class="tick" transform="translate(1041.65572123928,0)" style="opacity: 1;">
               <line y2="4" x2="0"></line>
               <text y="13" x="0" dy=".71em" style="text-anchor: middle;">2018</text>
            </g>
            <path class="domain" d="M0,10V0H1050V10"></path>
         </g>
         <rect x="0" y="35" rx="10" ry="10" width="440.55535810863016" cy="35" cx="0" r="7.5" height="15" opacity="0.5" id="timelineItem_0" style="fill: rgb(246, 132, 31);"></rect>
         <text x="195.55535810863016" y="46.25" class="timeline-label" fill="#999">
            <tspan dy="1.5em" font-weight="bold"> 09/2008-08/2012 </tspan>
            : JNTUH Bachelor, Computer Science
         </text>
         <rect x="440.93293672255274" y="75" rx="10" ry="10" width="440.48311828787762" cy="55" cx="75.93293672255274" r="7.5" height="15" opacity="0.5" id="timelineItem_1" style="fill: rgb(252, 215, 18);"></rect>
         <text x="500.41605501043036" y="66.25" class="timeline-label" fill="#999">
            <tspan dy="2.5em" font-weight="bold">2012 - 2016 Summer </tspan>
            : Java/ Big Data Engineer, Cognizant Technology Solutions
         </text>
         <rect x="820.52205825542765" y="115" rx="10" ry="10" width="287.8776172448428" cy="75" cx="101.52205825542765" r="7.5" height="15" opacity="0.5" id="timelineItem_2" style="fill: rgb(78, 252, 25);"></rect>
         <text x="790.39967550027046" y="86.25" class="timeline-label" fill="#999">
            <tspan dy="3.9em" font-weight="bold"> 08/2016- Present</tspan>
            : OU Norman, Masters in Data Science & Analytics
         </text>
         <rect x="820.35555898941513" y="155" rx="10" ry="10" width="287.032836282160243" cy="95" cx="186.35555898941513" r="7.5" height="15" opacity="0.5" id="timelineItem_3" style="fill: rgb(78, 252, 25);"></rect>
         <text x="790.38839527157538" y="106.25" class="timeline-label" fill="#999">
            <tspan dy="5em" font-weight="bold"> 08/2016 - Present</tspan>
            : Graduate Research Assistant, OU Data Analytics Lab
         </text>
         <rect x="950.9109170980453" y="195" rx="10" ry="10" width="150.65525766823766" cy="115" cx="270.9109170980453" r="7.5" height="15" opacity="0.5" id="timelineItem_4" style="fill: rgb(78, 252, 25);"></rect>
         <text x="900.5661747662829" y="126.25" class="timeline-label" fill="#999">
           <tspan dy="6em" font-weight="bold"> 11/2017 - Present</tspan>
          : Data Scientist Intern Accenture
         </text>
      </g>
   </svg>
</div>
  <div class="user">
    <div class="tech">
     <b><h2>Programming</h2></b>
      <h3><i> Object orient Programming(Java J2SE, J2EE, Python), R, SQL, Java Script, HTML, CSS</i>
      <i>Linux, shell scripting, Web Serivces(Jax-ws, REST) </i>
       <i>ML Programming: Scikit-Learn, R Caret, Tensor Flow, Keras, PyTorch</i>       
     <i>Cloud Technologies: AWS, Google cloud</i></h3>
     <!-- in your body <i class="devicon-python-plain-wordmark"></i>-->
    </div>
    <div class="tech">
     <b><h2>Big Data Frameworks</h2></b>
      <h3><i> Hadoop Ecosystem, Map reduce, Pig, Hive, Sqoop, YARN, Apache Spark, Spark Streaming,Kafka</i>
      <i>HDFS, HBASE, Cassandra, Mongo-DB</i>
       <i>D3.js, Vega Lite</i></h3>
     <!-- in your body -->
       <i class="icon-hadoop" style="color:red"></i>
    </div>
    <div class="tech">
     <b><h2>Machine Learning</h2></b>
      <h3><i>Statistical Hypothesis Testing, Regression, Classification, Clustering, KNN, K-Means, Linear Regression Variants(OLS, PLS, Lasso, Elastic-Net), Decision Trees, Ensembling(Boosting, Bagging)</i>
      <i>Deep Learning: Deep neural nets, Convolution Neural Nets, RNN, LSTM, Word Embeddings(Word2Vec, GloVe, Doc2Vec), Transfer Learning</i>
       <i> GANs, Sequence Models </i></h3>
    </div>
</div>
